<section class="twelve columns" id="activities">
    <h1>Activities</h1>
    <article>
        <ul>
        	<li>
        		<p><strong>Sep 3, 6:</strong> NSF PPoSS CROSS Project Annual Meeting with Advisory Broad, Online (Meeting Report [<a href="https://drive.google.com/file/d/1bStLNX4csUG1MT3HD5mO2uGSCRCy_KWW/view?usp=sharing">HERE</a>])</p>
        	</li> 
            <li>
                <p><em><a href="https://fruitfly1026.github.io/static/files/xtensor-asplos24.html">XTensor 2024: 1st Workshop on Cross-stack Optimization of Tensor Methods</a>, San Diego, CA</em></p>
            </li>

    </article>
</section>
