<section class="twelve columns" id="projects">
    <h1>Projects</h1>
    <article>
        <ul>
            <li>
                <header>
                    <p><em>CROSS: <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2316201&HistoricalAwards=false">Collaborative Research: PPoSS: LARGE: Cross-layer Coordination and Optimization for Scalable and Sparse Tensor Networks (CROSS)</a></em></p>
                </header>
                <p>
                    Lead PI: <strong>Jiajia Li</strong>; PIs: Frank Mueller (NCSU), Dong Li (UC Merced), Lizhong Chen (OSU) <br/>
                    NSF PPoSS project, 09/07/2023 – 08/31/2028, Total amount: $5,000,000
                </p>
            </li> 
            <li>
                <header>
                    <p><em>CROSS: <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2247309&HistoricalAwards=false">Collaborative Research: PPoSS: Planning: Cross-layer Coordination and Optimization for Scalable and Sparse Tenor Networks(CROSS)</a>”</em></p>
                </header>
                <p>
                    Lead PI: <strong>Jiajia Li</strong>; PIs: Frank Mueller (NCSU), Dong Li (UC Merced), Lizhong Chen (OSU) <br/>
                    NSF PPoSS project, 10/01/2022 – 09/30/2024, Total amount: $250,000
                </p>
            </li> 

    </article>
</section>
