<section class="twelve columns" id="publication">
    <h1>Publication</h1>
    <article>
        <ul>
            <li>
                <header>
                    <p><em> FlexMem: Adaptive Page Profiling and Migration for Tiered Memory.</em></p>
                    <span>Dong Xu, Junhee Ryu, Jinho Baek, Kwangsik Shin, Pengfei Su, and Dong Li.</span>
                </header>
                <p>
                    <em>30th USENIX Annual Technical Conference. <time>2024</time> <a href="https://pasalabs.org/papers/2024/ATC24_FlexMem.pdf">[pdf]</a> </em>
                </p>
            </li>
             <li>
                <header>
                    <p><em> MTM: Rethinking Memory Profiling and Migration for Multi-Tiered Large Memory Systems.</em></p>
                    <span>Jie Ren, Dong Xu, Junhee Ryu, Kwangsik Shin, Daewoo Kim, and Dong Li.</span>
                </header>
                <p>
                    <em>European Conference on Computer Systems. <time>2024</time> <a href="https://pasalabs.org/papers/2024/Eurosys24_M3_Camera_Ready.pdf">[pdf]</a> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Enabling Large Dynamic Neural Network Training with Learning-based Memory Management.</em></p>
                    <span>Jie Ren, Dong Xu, Shuangyan Yang, Jiacheng Zhao, Zhicheng Li, Christian Navasca, Chenxi Wang, Harry Xu, and Dong Li.</span>
                </header>
                <p>
                    <em>30th International Symposium on High-Performance Computer Architecture(acceptance rate: 18%).<time>2024</time> <a href="https://pasalabs.org/papers/2024/hpca24_dynn-offload.pdf">[pdf]</a> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em> Efficient Tensor Offloading for Large Deep-Learning Model Training based on Compute Express Link.</em></p>
                    <span>Dong Xu, Yuan Feng, Kwangsik Shin, Daewoo Kim, Hyeran Jeon, and Dong Li.</span>
                </header>
                <p>
                    <em>30th USENIX Annual Technical Conference (acceptance rate: 15.7%). <time>2024</time> <a href="https://pasalabs.org/papers/2024/tensor_offloading_cxl.pdf">[pdf]</a> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>FASTEN: Fast GPU-accelerated Segmented Matrix Multiplication for Heterogenous Graph Neural Networks</em></p>
                    <span>Keren Zhou, Karthik Ganapathi Subramanian, Po-Hsun Lin, Matthias Fey, Binqian Yin, Jiajia Li.</span>
                </header>
                <p>
                    <em>The 38th ACM International Conference on Supercomputing (ICS). <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>DiaQ: Efficient State-Vector Quantum Simulation</em></p>
                    <span>Srikar Chundury, Jiajia Li, In-Saeng Suh and Frank Mueller.</span>
                </header>
                <p>
                    <em>ArXiv. <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Parallel Sparse Tensor-times-Vector on Cerebras
WSE-2</em></p>
                    <span>Sai Krishna Teja Varm Manthena.</span>
                </header>
                <p>
                    <em>M.S. Thesis, North Carolina State University. <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>DiaQ: A Novel Quantum-Tailored Numerical Format</em></p>
                    <span>Srikar Chundury.</span>
                </header>
                <p>
                    <em>M.S. Thesis, North Carolina State University. <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>A PEPS plugin for TNQVM</em></p>
                    <span>Srikar Chundury, J. Lietz, E. A. C. Perez, A. Shehata, In-Saeng Suh and Frank Mueller.</span>
                </header>
                <p>
                    <em>IEEE International Conference on Quantum Computing and Engineering (QCE). <time>2023</time> </em>
                </p>
            </li>
        
        </ul>
    </article>
</section>
