<section class="twelve columns" id="publication">
    <h1>Publication</h1>
    <article>
        <ul>
            <li>
                <header>
                    <p><em>FASTEN: Fast GPU-accelerated Segmented Matrix Multiplication for Heterogenous Graph Neural Networks</em></p>
                    <span>Keren Zhou, Karthik Ganapathi Subramanian, Po-Hsun Lin, Matthias Fey, Binqian Yin, Jiajia Li.</span>
                </header>
                <p>
                    <em>The 38th ACM International Conference on Supercomputing (ICS). <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>DiaQ: Efficient State-Vector Quantum Simulation</em></p>
                    <span>Srikar Chundury, Jiajia Li, In-Saeng Suh and Frank Mueller.</span>
                </header>
                <p>
                    <em>ArXiv. <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>Parallel Sparse Tensor-times-Vector on Cerebras
WSE-2</em></p>
                    <span>Sai Krishna Teja Varm Manthena.</span>
                </header>
                <p>
                    <em>M.S. Thesis, North Carolina State University. <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>DiaQ: A Novel Quantum-Tailored Numerical Format</em></p>
                    <span>Srikar Chundury.</span>
                </header>
                <p>
                    <em>M.S. Thesis, North Carolina State University. <time>2024</time> </em>
                </p>
            </li>
            <li>
                <header>
                    <p><em>A PEPS plugin for TNQVM</em></p>
                    <span>Srikar Chundury, J. Lietz, E. A. C. Perez, A. Shehata, In-Saeng Suh and Frank Mueller.</span>
                </header>
                <p>
                    <em>IEEE International Conference on Quantum Computing and Engineering (QCE). <time>2023</time> </em>
                </p>
            </li>
        
        </ul>
    </article>
</section>
