<section class="twelve columns" id="artifacts">
    <h1>Software</h1>
    <article>
        <ul>
            <li>
                <header>
                    <h1><a href="https://github.com/pnnl/HiParTI">HiParTI</a></h1>
                </header>
                <p>
                    <em>A Hierarchical Parallel Tensor Infrastructure</em>
                </p>
            </li>
            <li>
                <header>
                    <h1><a href="https://gitlab.com/tensorworld/pasta">PASTA</a></h1>
                </header>
                <p>
                    <em>A Parallel Sparse Tensor Algorithm Benchmark Suite</em>
                </p>
            </li>
            <li>
                <header>
                    <h1><a href="https://github.com/hpcgarage/ParTI">ParTI</a></h1>
                </header>
                <p>
                    <em>A Parallel Tensor Infrastructure for Data Analysis</em>
                </p>
            </li>
            <li>
                <header>
                    <h1><a href="https://github.com/hpcgarage/AdaTM">AdaTM</a></h1>
                </header>
                <p>
                    <em>Adaptive Tensor Memoization algorithm for CP decomposition</em>
                </p>
            </li>
            <li>
                <header>
                    <h1><a href="https://github.com/hpcgarage/InTensLi">InTensLi</a></h1>
                </header>
                <p>
                    <em>Input-adaptive and in-place dense tensor-times-matrix multiply</em>
                </p>
            </li>
            <li>
                <header>
                    <h1><a href="https://gitlab.com/fruitfly1026/smat">SMAT</a></h1>
                </header>
                <p>
                    <em>Sparse Matrix-vector multiplication Auto-Tuner</em>
                </p>
            </li>
            <li>
                <header>
                    <h1><a href="http://www.ncic.ac.cn/~tgm/dgemm/dgemm_ati.html">HDGEMM</a></h1>
                </header>
                <p>
                    <em>A Hybrid DGEMM library on a Heterogeneous CPU-AMD GPU Architecture</em>
                </p>
            </li>
        </ul>
    </article>
</section>
