<section class="twelve columns" id="team">
    <h1>Team</h1>
    <article>
        <ul>
            <li>
                <header>
                    <a href="https://fruitfly1026.github.io/">Dr. Jiajia Li @ NCSU</a>
                </header>
            </li> 
            <li>
                <header>
                    <a href="https://arcb.csc.ncsu.edu/~mueller/">Dr. Frank Mueller @ NCSU</a>
                </header>
            </li> 
            <li>
                <header>
                    <a href="https://faculty.ucmerced.edu/dong-li/">Dr. Dong Li @ UC Merced</a>
                </header>
            </li>
            <li>
                <header>
                    <a href="https://web.engr.oregonstate.edu/~chenliz/">Dr. Lizhong Chen @ Oregon State</a>
                </header>
            </li> 
            <li>
                <header>
                    Zecheng Li @ NCSU
                </header>
            </li> 
            <li>
                <header>
                    Zhaonan Meng @ NCSU
                </header>
            </li> 
            <li>
                <header>
                    Teja Manthena @ NCSU
                </header>
            </li> 
            <li>
                <header>
                    Srikar Chundury @ NCSU
                </header>
            </li> 
            <li>
                <header>
                    Swastik Mittal @ NCSU
                </header>
            </li> 
            <li>
                <header>
                    Blake Burgstahler @ NCSU
                </header>
            </li>
            <li>
                <header>
                    Dong Xu @ UC Merced
                </header>
            </li> 
            <li>
                <header>
                    Gabriel Kulp @ Oregon State
                </header>
            </li> 
            <li>
                <header>
                    Andrew Ensinger @ Oregon State
                </header>
            </li> 
            <li>
                <header>
                    Raymond Baartmans @ Oregon State
                </header>
            </li> 

    </article>
</section>
